* {
  margin: 0;
  padding: 0;
  font-family: 'MyWebFont';
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('./fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf') format('woff2');
}
@font-face {
  font-family: 'MyWebFontLight';
  src: url('./fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Extra\ Light.otf')
    format('woff2');
}
/* Section-1 */
.navbar {
  margin: 10px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.navbar > * {
  transform: scale(0.8);
}

.navbar > :nth-child(1) {
  width: 29.33px;
  height: 15px;
}

.navbar > :nth-child(2) {
  width: 138px;
  height: 22px;
}

.navbar > :nth-child(3) {
  border-bottom: 1px solid black;
  padding-bottom: 19px;
  width: 124px;
  height: 13px;
}

.navbar > :nth-child(3):hover {
  transform: scaleX(0.9);
  transition: 0.2s ease-in;
}

/* menu */

.fullPageMenu {
  position: fixed;
  top: 0;
  z-index: 99999;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  transition: 0.5s;
}

.fullPageMenu.active {
  left: -100%;
}

.fullPageMenu .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.fullPageMenu .nav ul {
  position: relative;
}

.fullPageMenu .nav ul li {
  position: relative;
  list-style: none;
  padding: 0 20px;
  margin: 5px 0;
  overflow: hidden;
  display: table;
}

.fullPageMenu .nav ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff0047;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

.fullPageMenu .nav ul li:hover:before {
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
}

.fullPageMenu .nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

/* .fullPageMenu .nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  bottom: -100%;
  left: 0;
  color: #fff;
} */

.fullPageMenu .nav ul li:hover a {
  transform: translateY(-100%);
  color: fff;
}

.menuicon {
  position: absolute;
  top: 20px;
  /* left: 20px; */
  width: 29.33px;
  height: 15px;
  color: white;
  background-size: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 10px;
}

.menuicon.active {
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 10px;
}

@media (max-width: 749px) {
  .banner {
    display: none;
  }

  .fullPageMenu .nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
}
/* menu */
/* Section-2 */

.s2-img {
  text-align: center;
}
.s2-img > img {
  width: 90%;
}

@media screen and (min-width: 360px) and (max-width: 749px) {
  .s2-img {
    width: 100%;
    /* height: 300px; */
  }
  .s2-img > img {
    width: 100%;
  }
}

/* Section 3 */

.section-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 8rem;
  padding-top: 12rem;
  /* height: 80vh; */
}

.s3-content {
  display: flex;
  flex-direction: column;
  /* width: 100%;/ */
}

.s3-content > :nth-child(1) {
  color: red;
  font-size: 1.1rem;
}

.s3-content > :nth-child(3) {
  font-size: 4rem;
  /* width: 2rem; */
  font-weight: lighter;
}

.s3-para {
  width: 26rem;
  margin-top: 3rem;
}

.s3-para > span {
  font-size: 1.2rem;
  font-family: 'MyWebFontLight';
  font-weight: 300;
  line-height: 1.8rem;
}

.counter {
  width: 100%;
  margin-top: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
}

.counter > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-direction: column;
  /* min-width: 28rem; */
  border-right: 1px solid black;
}

.counter > :nth-child(3) {
  border-right: 0;
}

.count {
  margin-right: 2px solid grey;
  font-size: 8rem;
  display: flex;
}

.count > :nth-child(1) {
  font-size: 8rem;
}
.count > :nth-child(2) {
  margin-top: -1.1rem;
}

.count-detail {
  font-size: 2rem;
  font-family: 'MyWebFontLight';
}

@media screen and (min-width: 360px) and (max-width: 749px) {
  .section-3 {
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
    text-align: start;
    padding: 2rem;
    display: block;
  }

  .s3-content > :nth-child(3) {
    width: 100%;
    line-height: 3.5rem;
    font-size: 55px;
    /* transform: scale(0.5); */
  }
  .s3-para {
    width: 100%;
    margin-top: 1.5rem;
  }

  .s3-para > span {
    font-size: 16px;
  }

  .counter {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .counter > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 2rem;
    width: 100%;
  }
  .count {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .count > :nth-child(2) {
    transform: scale(1);
    margin-top: 0.1rem;
    font-size: 1.2rem;
  }
  .count-1 > * {
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .count > :nth-child(1) {
    font-weight: bold;
  }

  .counter > * {
    border: 0;
  }

  .count-1 {
    text-align: center;
  }

  .count-detail > * {
    font-size: 1.5rem;
  }

  .count-2 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
/* Section-4 */

.section-4 {
  height: 90vh;
  background-image: url('./images/s4-bg.png');
  display: flex;
  background-color: #f9f9f9;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  margin-top: 8rem;
  position: relative;
}

.s4-title {
  display: flex;
  flex-direction: column;
}

.s4-title > :nth-child(1) {
  color: red;
  font-size: 1.1rem;
}

.s4-title > :nth-child(3) {
  font-size: 4rem;
  /* width: 2rem; */
  font-weight: lighter;
}

.s4-cards {
  margin-top: 4rem;
  top: 25rem;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  position: absolute;
  bottom: -2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s4-cards > * {
  width: 100%;
  margin-left: 4rem;
  width: 502px;
  height: 693px;
}

@media screen and (min-width: 360px) and (max-width: 749px) {
  .section-4 {
    background-color: #f9f9f9;

    text-align: start;
    padding: 2rem;
    position: relative;
  }

  .s4-title > :nth-child(3) {
    line-height: 4rem;
    font-size: 40px;
    letter-spacing: -2px;
  }

  .s4-cards {
    position: absolute;
    top: 8rem;
    margin-top: 3rem;
  }

  .s4-cards img {
    width: 18rem;
    height: 18rem;
    margin-left: 1rem;
  }

  .s4-cards::-webkit-scrollbar {
    display: none;
  }
}

/* section 5 */
.section-5 {
  height: 100vh;
  margin-top: 22rem;
  width: 100%;
  background: url('./images//s5-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.s5-title {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  margin-left: 25rem;
}

.s5-title > :nth-child(3) {
  font-size: 4rem;
  /* width: 2rem; */
  font-weight: lighter;
}

.s5-title > :nth-child(4) {
  font-family: 'MyWebFontLight';
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.s5-icons {
  display: flex;
  margin-top: 8rem;
}
.s5-icons > * {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.4rem;
  width: 18rem;
  flex-direction: column;
}

.s5-icons-content > :nth-child(1) {
  font-size: 1.8rem;
}
.s5-icons-content > :nth-child(2) {
  font-size: 2rem;
}

.s5-icons-content > :nth-child(3) {
  font-size: 1.5rem;
  font-family: 'MyWebFontLight';
  font-weight: 100;
}
@media screen and (min-width: 360px) and (max-width: 749px) {
  .section-5 {
    height: 50%;
    margin-top: 0rem;
    width: 100%;
    padding-left: rem;
    padding-top: 1rem;
    padding-top: 1rem;
    /* background: url('./images//s5-bg.png'); */
    background-size: cover;
    background-size: 200%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .s5-title {
    transform: scale(0.8);
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
  }

  .s5-title > :nth-child(3) {
    font-size: 3rem;
    /* width: 2rem; */
    font-weight: lighter;
  }

  .s5-title > :nth-child(4) {
    font-size: 1rem;
    margin-top: 1rem;
    /* width: 2rem; */
    font-weight: lighter;
  }

  /* .s5-icons {
    display: flex;
    margin-top: 8rem;
  } */

  .s5-icons {
    display: flex;
    margin-top: 1rem;
  }

  .s5-icons > * {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* gap: 1.4rem; */
    /* width: 18rem; */
    flex-direction: column;
  }

  .s5-icons > :nth-child(2) {
    padding-bottom: 0.5rem;
  }

  .s5-icons-content {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .s5-icons-content > :nth-child(1) {
    transform: scale(0.8);
  }
  .s5-icons-content > :nth-child(2) {
    font-size: 0.8rem;
  }

  .s5-icons-content > :nth-child(3) {
    font-size: 0.9rem;
    font-family: 'MyWebFontLight';
    font-weight: 100;
  }

  .break {
    display: none;
  }
}

/* 








*/
/* section 6 */
.section-6 {
  /* height: 90vh; */
  background: url('./images/s7-bg.png');
  background-size: contain;
  display: flex;
  flex-direction: row;
}

.s6-left {
  flex: 1;
  display: flex;
  padding: 8rem;
  padding-left: 12rem;
  justify-content: center;
  flex-direction: column;
}

.s6-left > :nth-child(1) {
  font-size: 4.2rem;
}

.s6-address {
  display: flex;
}
.s6-address > :nth-child(1) {
  margin-right: 1.2rem;
}

.s6-address > :nth-child(2) {
  font-size: 1.4rem;
  color: grey;
  font-weight: 200;
  line-height: 1.8rem;
}

.g-map {
  width: 100%;
  height: 20rem;
}

.s6-right {
  flex: 1;
  /* display: flex; */
  /* justify-content: center; */
}

.s6-form {
  margin-top: 8rem;
  width: 629px;
  height: 631px;
  border-radius: 10px;
  background-color: white;
}

.s6-form > :nth-child(1) {
  display: flex;
  flex-direction: column;
}

form {
  padding: 3rem;
}
.s6-input-field {
  border-bottom: 1px solid grey;
  margin-bottom: 3rem;
}

.input-field {
  width: 80%;
  flex: 1;
  height: 3rem;
  font-size: 1.1rem;
  border-bottom: 1px solid grey;
  border: 0;
  font-family: 'MyWebFontLight';
}

.icon {
  margin-right: 8px;
}

.textarea {
  height: 6rem;
}

.form-button {
  width: 12rem;
  padding: 16px;
  background-color: #ec2232;
  border-radius: 40px;
  color: white;
  border: 0;
}

@media screen and (min-width: 360px) and (max-width: 749px) {
  .section-6 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    width: 100%;
    padding-top: 3rem;
  }
  .s6-left {
    align-items: start;
    width: 100%;
    text-align: start;
    padding: 10px;
    padding: 2rem;
    margin: 0;
  }

  .s6-left > :nth-child(1) {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .s6-right {
    display: block;
    width: 100%;
  }
  .s6-map {
    width: 100%;
  }

  .g-map {
    width: 100%;
  }

  .s6-form {
    width: 100%;
    text-align: center;
  }
}

/* Secttion 7 */

.section-7 {
  height: 100%;
  width: 100%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  color: white;
  padding: 8rem;
}

.section-7 > * {
  flex: 1;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
}

.s7-left {
  font-size: 2.5rem;
  /* display: flex */
  /* flex-direction: column; */
  justify-content: start;
  color: white;
  border-right: 1px solid grey;
}

.s7-left > * {
  line-height: 4rem;
}

.s7-center {
  display: flex;
  border-right: 1px solid grey;
}

.s7-center > :nth-child(1) {
  font-size: 2.5rem;
}

.s7-center-list {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.s7-center-list-right {
  margin-right: 5.5rem;
}
.s7-center-list li {
  /* list-style-type: none; */
  font-size: 1.3rem;
  line-height: 3rem;
  font-family: 'MyWebFontLight';
}

.s7-right {
  gap: 2.5rem;
  display: flex;
  align-items: flex-end;
  /* text-align: end; */
  justify-content: flex-start;
}

.s7-icons > * {
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.s7-right > :nth-child(2) {
  font-size: 1.5rem;
}

.s7-right > :nth-child(3) {
  font-size: 1.5rem;
}
@media screen and (min-width: 360px) and (max-width: 749px) {
  .section-7 {
    width: 100%;
    height: 100%;
    display: block;
    gap: 2rem;
    padding: 0;
  }
  .section-7 > * {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid white;
    padding: 2rem;
  }
  .s7-center-list {
    display: block;
    width: 100%;
  }

  .s7-center-list-right {
    margin-right: 0;
  }

  .s7-center-list li {
    list-style-type: none;
  }

  .s7-right {
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
