@media screen and (max-width: 760px) {
  .section-3 {
    width: 100%;
  }
  .s3-content > :nth-child(3) {
    /* font-size: 2px; */
    width: 100%;

    transform: scale(0.5);
  }

  .counter {
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .count > * {
    transform: scale(0.5);
  }

  .counter > * {
    border: 0;
  }
}
